@model IEnumerable<Breeze.Models.Game>

<html>
<head>
    <title>Game Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    
@foreach (var game in Model)
{
    <h2>@Html.DisplayFor(x => game.Name)</h2>
    <h3>@Html.DisplayFor(x => game.Description)</h3>

    @Html.ActionLink("New Comment", "Create", "Comments", new { id = game.GameId })

    @foreach (var comment in game.Comments)
    {
        <li>UserName: @Html.DisplayFor(x => comment.UserName)</li>
        <li>Comment: @Html.DisplayFor(x => comment.CommentDescription)</li>
        <hr />
    }
}
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>