@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Breeze.Models.Game>
@using System.Security.Claims

<h2>Here is your list of tasks, @User.GetUserName()</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listGame in Model)
        {
            <li>@Html.DisplayFor(modelItem => listGame.Name) | @Html.ActionLink("Details", "Details", new { id = listGame.GameId }) | @Html.ActionLink("Edit", "Edit", new { id = listGame.GameId })</li>

            <li>
                @using (Html.BeginForm("Delete", "Games", new { id = listGame.GameId }))
                    {
                    <input type="submit" value="Delete" />
                }
            </li>
        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")

