
@using System.Security.Claims

@model IEnumerable<Breeze.Models.Game>

<h2>The list of Questions:</h2>
<hr />

    <ul>
        @foreach (var listItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => listItem.Name) | @Html.ActionLink("Details", "Details", new { id = listItem.GameId }) | @Html.ActionLink("Edit", "Edit", new { id = listItem.GameId })</li>

            <li>
                Delete @using (Html.BeginForm("Delete", "Games", new { id = listItem.GameId }))
                    {
                    <input type="submit" value="Delete" />
                }
            </li>
            <hr />
        }
    </ul>
}

| @Html.ActionLink("Create new", "Create") | @Html.ActionLink("Ready to log out?", "index", "Account") |